
.logo {
    float: left;
    display: inline;
    padding-top: 1em;
}

.nav {
    float: right;
    display: inline;
    padding-top: 2em;

}

ul, li {
    list-style: none;
    display: inline;
    word-spacing: 1rem;
}

.one-third-col {
    display: inline;
}
.blog1body {
    background: purple;
}