body {
    background-image: url(../images/sayagata.png);
}

.head {
    
}

.logo {
    float: left;
    display: inline;
    padding-top: 1em;
}

.nav {
    float: right;
    display: inline;
    padding-top: 2em;

}

ul, li {
    list-style: none;
    display: inline;
    word-spacing: 1rem;
}

.one-third-col {
    display: inline;
    }

.section.blogs {
    padding:0;
    margin:0;
}

.row {
    background:;
    color: white;
    padding: 0 1.7em;
}

.one-third-col {
    padding: 0;
}

.twelve-col-footer{
    padding: .5em;
    background: black;
    color:white;

}

.blogtitle {
    float: left;
    display: inline;
    padding-top: 1em;

}

.blogbody {
    border-top: 1em;
    border-bottom: 2em;
    border-color: black;
}